.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 24px;
 ;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
  &__button {
    border: solid 1px #7373738a;
    border-radius: 4px;
   margin-right: 16px;
    background: none;
    color: #696969;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 10px;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__button-icon {
    margin-right: 6px;
    width: 12px;
    opacity: 0.6;

  }
}
